<section>
    <div class="swag-section card-color">
        <div class="swag-text">
            <h2 class="gradient">Data Gear for Data Minds: <br> Shop the Collection Today!</h2>
            <p><b>Exclusive Swag:</b> Explore a range of stylish t-shirts and hoodies, all designed with data enthusiasts in mind.</p>
            <p><b>Inspire & Connect:</b> Wear your passion for data proudly and stay motivated in your analytics journey.</p>
            <a href="https://shop.surfalytics.com/" target="_blank">
                <button class="cta-filled">Shop now</button>
            </a>
        </div>
        <img class="swag-img" src="assets/images/unisex-premium-t-shirt-white-front-66b31d972170e.webp" />
    </div>
</section>
