
<section class="testimonials">
    <h2 class="centered gradient">Check our success stories</h2>
    <div class="potential-wrap">
        <div class="potential-card card-color">
            {%- include markdown-files/testimonials/testimonial-1.md -%}        
        </div>
        <div class="potential-card card-color">
            {%- include markdown-files/testimonials/testimonial-2.md -%}        
        </div>
        <div class="potential-card card-color">
            {%- include markdown-files/testimonials/testimonial-3.md -%}        
        </div>
    </div>
    <a href="/pages/testimonials-page">
        <button class="cta-filled">See more reviews</button>
    </a>
</section>
