<!DOCTYPE HTML>
<html lang="en" >
    <head>

      <!-- data from head.html -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="{{site.description}}">

      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/custom.css">

      <meta name="HandheldFriendly" content="true"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/assets/gitbook/images/apple-touch-icon-precomposed-152.png">
      <link rel="shortcut icon" href="{{site.baseurl}}/{{site.favicon_path}}" type="image/x-icon">
      <!-- End data from head.html -->

      <!-- CSS -->
      <link rel="stylesheet" href="./assets/gitbook/homepage-redesign.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
      <link rel="stylesheet" href="path-to-iconify-font.css">

      <!-- Google fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600&display=swap" rel="stylesheet">
    
     <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FT018TBY84"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            window.dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-FT018TBY84');
    </script>
    <!-- End Google Analytics -->
    </head>

    <body>

        <header>
          <!-- Subscribe banner -->
          <a href="https://blog.surfalytics.com/" target="_blank" class="notification-bar desktop-banner">
            <div class="container subscribe-banner">
            💌 Subscribe to the free newsletter about Data Engineering, Analytics and career development in the data industry and join over 4000 data professionals worldwide!
            </div>
          </a>

          <a href="https://blog.surfalytics.com/" target="_blank" class="notification-bar mobile-banner">
            <div class="container subscribe-banner">
            💌 Subscribe to the free newsletter about Data Engineering, Analytics and career development!
            </div>
          </a>


          <!-- Navigation menu -->
            <nav class="scrolling-el" id="nav">
              <div class="container">
                <a href="/">
                  <img class="logo" src="/assets/surfalytics-logo.svg">
                </a>
                
                <div class="menu-icon" onclick="toggleMenu()">
                  <iconify-icon icon="iconamoon:menu-burger-horizontal-duotone"></iconify-icon>
                </div>

                <div class="navbar-nav">
                  <div class="navbar-links">
                    <a href="/pages/about/">About</a>
                    <a href="#faq">FAQ</a>
                    <a href="#services">Services</a>
                    <a href="/pages/testimonials/">Testimonials</a>
                    <a href="/pages/club500/">Club 500</a>
                    <a href="/surfalytics/2023-06-04-Introduction.html">Free Course</a>
                  </div>
                  <a  href="#membership" class="cta-filled">Become a member</a>
                </div>
              </div>
            </nav>
              <!-- Menu mobile -->
              <div class="menu-modal" id="menuModal">
                <div class="menu-content">
                    <div class="close-modal" onclick="toggleMenu()">
                      <iconify-icon icon="material-symbols-light:close"></iconify-icon>
                    </div>
                    <a href="/pages/about/">About</a>
                    <a href="#faq">FAQ</a>
                    <a href="#services">Services</a>
                    <a href="/pages/testimonials/">Testimonials</a>
                    <a href="/pages/club500/">Club 500</a>
                    <a href="/surfalytics/2023-06-04-Introduction.html">Free Course</a>
                    <a href="#membership" class="cta-filled">Become a member</a>
                </div>
              </div> 
        </header>

        <main>
            <!-- Hero -->
            <section class="hero">
              <h1>Elevate your <span>data career</span> to the next level with a 
                <span>strong community</span> and 
                expert <span class="light-blue">career mentorship</span>.</h1> 
            </section>

              <!-- Surfalytics goal -->
            <section class="goal-section">
              <div class="surfalytics-focus">
                <h4>Surfalytics core focus is to support you on a data career journey.</h4>
                <div class="two-col">
                  <p>Regardless of your level of experience and competency, we will help you assess your current state and develop a tailored learning plan and will do frequent check-ins to keep you on track.</p>
                  <p>If your goal is a career in data space and you’re planning to become a Data Engineer, BI Engineer, Data/Product/Marketing Analyst, or Visualisation Engineer then you are in the right place.</p>
                </div>  
              </div>
              <h4>We help with the following:</h4>
              <div class="tab-block-mobile">
                <details>
                  <summary>Landing your first data job</summary>
                  <br>
                  <p>Searching for your first data job or going through the job search process again can feel daunting.</p>
                  <p>With a mentor you will:</p>
                  <ul>
                    <li>gain a deeper understanding of the data recruiting landscape in North America</li>
                    <li>strengthen your resume and make it tailored to the position you are applying for</li>
                    <li>practise mock interviews</li>
                    <li>receive guidance on how to negotiate job offers</li>
                  </ul>
                  <p>In our community you will build a competitive projects portfolio and develop your professional network.</p>
                </details>
                <details>
                  <summary>Levelling up your career</summary>
                  <br>
                  <p>Moving from a middle-level role to a senior position can be a challenging journey, but it becomes significantly more achievable with the guidance of a skilled career coach.</p>
                  <p>Don't let the obstacles in your way hold you back from achieving your full potential. </p>
                  <p>A data career mentor will work with you to create a tailored career roadmap. They will assess your skills, strengths, and weaknesses, and then craft a step-by-step plan that aligns with your goals.</p>
                </details>
                <details>
                  <summary>Pivoting from non-technical Analyst role to Data Engineer role</summary>
                  <br>
                  <p>Are you currently in a non-technical analyst role but dream of stepping into the dynamic field of data engineering?</p>
                  <p>Get personalized guidance from a data mentor in bridging the gap from a non-technical background to a data engineer role.</p>
                  <ul>
                    <li>Assessment and goal setting</li>
                    <li>Learning Path</li>
                    <li>Skill development and portfolio building</li>
                    <li>Networking opportunities</li>
                    <li>Ongoing support</li>
                  </ul>
                </details>
              </div>
              <div class="tab-block">

                <div class="tab">
                  <button class="tablinks" onclick="openTab(event,'Job')" id="defaultOpen">
                    Landing your first data job
                    <div class="icon">
                      <iconify-icon icon="solar:arrow-right-linear" style="color: #eff0f4;" width="44"></iconify-icon>
                    </div>
                  </button>
                  <button class="tablinks" onclick="openTab(event, 'Career')">
                    Levelling up your career
                    <div class="icon">
                      <iconify-icon icon="solar:arrow-right-linear" style="color: #eff0f4;" width="44"></iconify-icon>
                    </div>
                  </button>
                  <button class="tablinks" onclick="openTab(event, 'Pivot')">
                    Pivoting from non-technical <br> Analyst role to Data Engineer role
                    <div class="icon">
                      <iconify-icon icon="solar:arrow-right-linear" style="color: #eff0f4;" width="44"></iconify-icon>
                    </div>
                  </button>
                </div>

                <div id="Job" class="tabcontent">
                  <p>Searching for your first data job or going through the job search process again can feel daunting.</p>
                  <p>With a mentor you will:</p>
                  <ul>
                    <li>gain a deeper understanding of the data recruiting landscape in North America</li>
                    <li>strengthen your resume and make it tailored to the position you are applying for</li>
                    <li>practise mock interviews</li>
                    <li>receive guidance on how to negotiate job offers</li>
                  </ul>
                  <p>In our community you will build a competitive projects portfolio and develop your professional network.</p>
                </div> 
                <div id="Career" class="tabcontent">
                  <p>Moving from a middle-level role to a senior position can be a challenging journey, but it becomes significantly more achievable with the guidance of a skilled career coach.</p>
                  <p>Don't let the obstacles in your way hold you back from achieving your full potential. </p>
                  <p>A data career mentor will work with you to create a tailored career roadmap. They will assess your skills, strengths, and weaknesses, and then craft a step-by-step plan that aligns with your goals.</p>
                </div>
                <div id="Pivot" class="tabcontent">
                  <p>Are you currently in a non-technical analyst role but dream of stepping into the dynamic field of data engineering?</p>
                  <p>Get personalized guidance from a data mentor in bridging the gap from a non-technical background to a data engineer role.</p>
                  <ul>
                    <li>Assessment and goal setting</li>
                    <li>Learning Path</li>
                    <li>Skill development and portfolio building</li>
                    <li>Networking opportunities</li>
                    <li>Ongoing support</li>
                  </ul>
                </div>
              </div>
            </section>
            
            <!-- Community membership -->
            <section id="membership" class="membership two-col">
              <div class="col-left">
                <h2>We firmly believe that community is the most powerful method of learning and growth.</h1>
                <p>Membership gives you access to Surfalytics resources, Discord chat, monthly projects on Data Engineering and Business Intelligence, and the option to ask any questions any time, as well as constant support during your journey and career plan.</p>
              </div>
              <div class="service-card card-interactive card-color">
                <div class="card-header">
                  <p>Membership Pricing</p>
                  <h2>$25 / month</h2>
                  <div class="txt-flex">
                    <p>or $200 / year</p>
                    <p class="tag"><span>(34% off)</span></p>
                  </div>                  
                </div>
                <ul class="membership-ul">
                  <li>Get access to study materials</li>
                  <li>Build Data Engineering and Analytics projects portfolio</li>
                  <li>Continuous career journey support, including resume reviews, career planning, interview mocks and Q&A sessions</li>
                  <li>LeetCode crack</li>
                  <li>Access to Discord community</li>
                  <li>Professional network</li>
                </ul>
                <div class="btn-block">
                  <a href="https://buy.stripe.com/3csaGq3aMauXc5aaET" target="_blank">
                    <button class="cta-filled">Select Monthly</button>
                  </a>
                  <a href="https://buy.stripe.com/14k4i2fXy7iL1qw7sI">
                    <button class="cta-filled secondary">Select Yearly</button>
                  </a>
                </div>
              </div>
            </section>

            <!-- Services pricing -->
            <section id="services" class="services-pricing">
              <h4>Services Pricing</h4>
              <div class="cards-block">
                <div class="card-color card-interactive service-card">
                  <div class="card-header">                  
                    <p>Hourly mentorship</p>
                    <h2>$200</h2>
                  </div>
                  <div class="card-description">
                    <p>1 hour session, that you can use to:</p>
                    <ul>
                      <li>Talk over your case and ask relevant questions</li>
                      <li>Get a strategy to scale total compensation </li>
                      <li>Ask questions about immigration to North America and many more</li>
                    </ul>
                    <p>If you don’t know where to start, this session is right for you.</p>  
                  </div>
                  <a href="https://buy.stripe.com/eVa8yieTufPh0msaER">
                    <button class="cta-filled">Select Service</button>
                  </a>
                </div>
                <div class="card-color card-interactive service-card">
                  <div class="card-header">                  
                    <p>Adjusting Career Trajectory</p>
                    <h2>$500</h2>
                    <p class="tag"><span>most popular</span></p>
                  </div>
                  <div class="card-description">
                    <p>Learn from the experienced engineer who was there and can help you to choose the optimal career path depending on your needs - total compensation, company tier, work/life balance, career growth. </p>
                    <p>This package includes two 1-hour sessions and a tailored learning plan to achieve result.</p>
                    <ul>
                      <li>Assessment of your current situation and goal setting</li>
                      <li>Learning path to succeed</li>
                    </ul>  
                  </div>
                  <a href="https://buy.stripe.com/6oEbKu7r232v4CI14f">
                    <button class="cta-filled">Select Service</button>
                  </a>
                </div>
                <div class="card-color card-interactive service-card">
                  <div class="card-header">                  
                    <p>End-to-end Coaching</p>
                    <h2>$999</h2>
                    <p>+30% of your first net salary</p>
                  </div>
                  <div class="card-description">
                    <p>From your current circumstances towards the offer. Even if you don’t have prior experience, it doesn’t matter. All we need is consistency, motivation, and hard work.</p>
                    <p>This package includes the 5 consultations, your assessment, tailored study plan and Surfalytics community membership.</p>  
                  </div>
                  <a href="https://buy.stripe.com/eVadSCbHi46z7OUfZc">
                    <button class="cta-filled">Select Service</button>
                  </a>
                </div>
              </div>
            </section>

            <!-- Course promo -->
            <section class="course-promo two-col">
              <div class="col-left">
                <h3>Foundational knowledge, 
                  Cutting-edge technologies <br> and Soft Skills</h3>
                <p>All covered in the 12 modules of the course. Check the details in the curriculum.</p>
                <a class="link" href="/surfalytics/2023-06-04-Introduction.html">Start my free course</a>
              </div>
              <div class="drop-down">
                {%- include markdown-files/course-curriculum.md -%}
              </div>
            </section>
              
            <!-- About the founder -->
            <section class="founder-card card-color">
              <div class="two-col">
                <img class="founder-photo" src="./assets/images/founder.png" alt="founder Dmitry Anoshin photo" />
                <div class="founder-text-block">
                  <h5>Meet the founder</h5>
                  <h2>Dmitry Anoshin</h2>
                  <ul class="founder-ul">
                    <li>14 years in data analytics, 8 years in MAANG (Amazon, Microsoft)</li>
                    <li>Founder of Rock Your Data - data analytics consulting company</li>
                    <li>Author of numerous books on Data Analytics</li>
                    <li>Teaching Cloud Computing Fundamentals at the University of Victoria since 2021</li>
                  </ul>
                  <ul class="logos">
                    <li><img src="assets/images/microsoft-azure.svg" /></li>
                    <li><img src="assets/images/amazon.svg" /></li>
                    <li><img src="assets/images/shield-horz-white-1.svg" /></li>
                  </ul>
                </div>
              </div>
              <div class="founder-text-block">
                <p>I have always been involved in various user groups and meetups. During my time at Amazon, I managed one of the largest Tableau User Groups (ATUG), boasting over 2,500 active members. Simultaneously, I took over the BI team’s user group, which connected more than 150 analytics teams worldwide. This led to exceptionally effective knowledge sharing, problem resolution, and job searching within Amazon.</p>
                <p>Upon joining Microsoft, I promptly initiated a new community there. Additionally, since 2018, I have been leading the largest data engineering community in Russia, with 18,000 active members. </p>
                <p>I understand the power of community and advocate for this method of education and coaching.</p>
                <p>At Surfalytics, I created a membership subscription that provides access to a Discord chat, monthly projects in Data Engineering and Business Intelligence, the opportunity to ask questions at any time, and continuous support throughout your journey, including career planning.</p>
                <p>The primary goal of our community is to elevate each other on social media, assist in interview preparation, engage in mock interviews, tackle LeetCode tasks, review interviews, and share weekly progress.</p>  
              </div>
            </section>

            <!-- FAQ -->
            <section id="faq" class="faq">
              <h4>Frequently Asked Questions</h4>
              {%- include markdown-files/faq.md -%}

            </section>
          


        </main>

        <script>

          var gitbook = gitbook || [];
          gitbook.push(function() {
              gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
          });

        </script>

        <!-- JavaScript -->
        <script>

          // Tab section
          document.getElementById("defaultOpen").click();

          function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
          }

          // Menu modal
          function toggleMenu() {
              var menuModal = document.getElementById('menuModal');
              menuModal.style.display = (menuModal.style.display === 'none' || menuModal.style.display === '') ? 'flex' : 'none';
              var nav = document.getElementById('nav')
              nav.style.display = (menuModal.style.display === 'none' || menuModal.style.display === '') ? 'flex' : 'none';
          }

          // SCROLLING NAVIGATION
            document.addEventListener('DOMContentLoaded', function() {
            var scrollingEl = document.querySelector('.scrolling-el');

            // Function to handle scroll event
            function handleScroll() {
              // Change the padding based on the scroll position
              var scrollPosition = window.scrollY;
              scrollingEl.style.paddingTop = (scrollPosition >= 55) ? '20px' : (90 - scrollPosition / 2) + 'px';
            }
            window.addEventListener('scroll', handleScroll);
          });

        </script>

      {%- include footer.html -%}

      <!-- Footer -->

      <footer>              
        
        <!-- Subscribe -->
        <div class="container two-col">
          <div class="subscribe">
            <h4>Subscribe to our Substack and gain access to latest data career insights</h4>
  
              <!-- Embedded Substack API -->
              <div id="custom-substack-embed"></div>
              <script>
                window.CustomSubstackWidget = {
                  substackUrl: "blog.surfalytics.com",
                  placeholder: "example@gmail.com",
                  buttonText: "Subscribe",
                  theme: "purple"
                };
              </script>
              <script src="https://substackapi.com/widget.js" async></script>
            </div>
  
  
          <!-- Socials -->
          <div>
            <ul class="socials">
              <li>
                <!-- Instagram -->
                <a href="https://www.instagram.com/surfalytics/">
                  <iconify-icon icon="fa:instagram" style="color: #eff0f4; font-size: 35px;"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Telegram -->
                <a href="https://t.me/surfalytics">
                  <iconify-icon icon="icon-park-outline:telegram" style="color: #eff0f4; font-size: 35px;"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Linkedin -->
                <a href="https://www.linkedin.com/company/surfalytics/">
                  <iconify-icon icon="ri:linkedin-fill" style="color: #eff0f4;" width="35"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Tiktok -->
                <a href="https://www.tiktok.com/@surfalytics">
                  <iconify-icon icon="ic:baseline-tiktok" style="color: #eff0f4; font-size: 35px;"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Github -->
                <a href="https://github.com/surfalytics/surfalytics">
                  <iconify-icon icon="mdi:github" style="color: #eff0f4; font-size: 35px;"></iconify-icon>
                </a>
              </li>
            </ul>
            <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>    
          </div>
  
        </div>
         <!-- Copyright info -->
        <p>Copyright 2024 by Dmitry Anoshin. Designed and developed by <a class="link" href="https://www.linkedin.com/in/lala-jafarova/">Lala Jafarova</a>.</p>
      </footer>
    </body>
</html>