<!DOCTYPE HTML>
<html lang="en" >
    <head>

      <!-- data from head.html -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="{{site.description}}">

      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/custom.css">

      <meta name="HandheldFriendly" content="true"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/assets/gitbook/images/apple-touch-icon-precomposed-152.png">
      <link rel="shortcut icon" href="{{site.baseurl}}/{{site.favicon_path}}" type="image/x-icon">
      <!-- End data from head.html -->

      <!-- CSS -->
      <link rel="stylesheet" href="./assets/gitbook/homepage.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
      <link rel="stylesheet" href="path-to-iconify-font.css">

      <!-- Google fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    
     <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FT018TBY84"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            window.dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-FT018TBY84');
    </script>
    <!-- End Google Analytics -->
    </head>

    <body>

      {%- include header.html -%}

      <main>
            <!-- Hero -->
            <section class="hero hero-bg">
              <div class="two-col hero">
                <div class="hero">
                  <div class="h-row">
                    <h1 class="gradient">Engineer your career as</h1>
                  </div>
                  <div class="h-row">
                    <h1 id="profession"><span id="changingProfession">Data Analyst</span></h1>
                   </div>

                  <p>Join North America's top data community and achieve your dream career ✨</p>
                  <a href="https://buy.stripe.com/bIY7uecLm32v6KQ5kB" target="_blank">
                    <button class="cta-filled">Free 7-day trial, then $50 / month </button>
                  </a>  
                  <a target="_blank" href="https://buy.stripe.com/4gw8yi26I9qTb168wP">
                    <button class="hero-price">or $250 / year </button>
                  </a>
                </div> 
              </div>            
            </section>
            
            <!-- About Surfalytics -->
            <section>
              <div class="abt-section card-color">
                <div class="abt-left">
                  <h5>Your Hub for</h5>
                  <h2 class="gradient">Data Job Market Insights<br>
                    Networking and<br>
                    Professional Growth</h2>
                </div>
                <div class="abt-right">
                  <p>Welcome to the Surfalytics Data Community, where we are dedicated to engineering your data career and helping you build a life you don't need a vacation from.</p>
                  <p>Our community is designed for data enthusiasts and professionals passionate about advancing their careers and achieving their dreams.</p>
                  <p>Our mission is to empower data professionals by providing the resources, connections, and opportunities needed to excel in data industry.</p>
                  <a href="/pages/about">Learn more about us</a>
                </div>  
              </div>
            </section>

            <!-- Unleash your potential - key offers -->
          <section>
            <h2 class="centered gradient">Unleash Your Potential</h2>
            <div class="potential-wrap">
              <div class="potential-card card-color">
                <h4>Land your dream job worldwide</h4>
                <p>Access to top-tier resources and mentorship to help you navigate your career path in data analytics and engineering.</p>
              </div>
              <div class="potential-card card-color">
                <h4>Increase your compensation</h4>
                <p>Explore tools and strategies to dramatically increase your earning potential in the data industry.</p>
              </div>
              <div class="potential-card card-color">
                <h4>Elevate your data skills</h4>
                <p>Continuous learning through exclusive courses and workshops will keep you at the forefront of the data field.</p>
              </div>
            </div>
          </section>

          <!-- WHY DATA PROFESSIONALS CHOOSE SURFALYTICS -->

          <section>
            <h2 class="centered gradient">Why Data Professionals Choose Surfalytics</h2>
            <div class="perks-wrap">
              <div class="perks-card card-interactive card-color">
                <div class="perks-info">
                  <h4>Collaborative learning environment</h4>
                  <p>We help each other understand complex concepts and solve challenging data problems. Together we learn faster and streamline the professional growth.</p>
                </div>
                <img src="/assets/images/collaborative-learning-env.png" />
              </div>
              <div class="perks-card card-interactive card-color">
                <img src="/assets/images/emotion-support.png" />
                <div class="perks-info">
                  <h4>Hands-on experience</h4>
                  <p>
                    Every month, we launch diverse projects that enhance your portfolio and showcases your skills to potential employers.                   </p>
                </div>
              </div>
              <div class="perks-card card-interactive card-color">
                <div class="perks-info">
                  <h4>Complimentary 
                    career services</h4>
                  <p>
                    Our instructors provide resume reviews, mock interviews and tips on achieving maximum results with minimal effort.
                  </p>
                  <a target="_blank" href="https://www.youtube.com/playlist?list=PLNCDg7zJiXhPD0ethFHC-1V1pkvWhc633">Check our mock interviews on YouTube</a>
                </div>
                <img src="/assets/images/portfolio-dev-career-service.png" />
              </div>
              <div class="perks-card card-interactive card-color">
                <img src="/assets/images/network-opport.png" />
                <div class="perks-info">
                  <h4>Emotional support</h4>
                  <p>
                    We know job search is a tough journey. Our members offer encouragement, share experiences, and provide camaraderie, helping alleviate stress and keep motivation high. 
                  </p>
                </div>
              </div>
            </div>
          </section>

            <!-- Community membership -->
            <section id="membership" class="membership two-col">
              <div class="col-left">
                <h2 class="gradient">
                  Connect with Peers<br>
                  Learn from Experts<br>
                  Advance Your Career
                </h2>
                <p>Membership gives you access to Surfalytics resources, Discord chat, monthly projects on Data Engineering and Business Intelligence, and the option to ask any questions any time, as well as constant support during your journey and career plan.</p>
              </div>
              <div class="service-card card-interactive card-color">
                <div class="card-header">
                  <p>Early Bird Membership Pricing</p>
                  <h2><span class="crossed-price">$100</span> $50 / month</h2>
                  <div class="txt-flex">
                    <p>or $250 / year</p>
                    <!-- <p>(34% off)</p> -->
                  </div>                  
                </div>
                <ul class="membership-ul">
                  <li>Free-7 day trial</li>
                  <li>AMA (Ask Me anything) about jobs and career progress</li>
                  <li>Build Data Engineering and Analytics projects portfolio</li>
                  <li>Continuous career journey support, including resume reviews, career planning, interview mocks and Q&A sessions</li>
                  <li>LeetCode workshops, SQL and Data Mock Interviews</li>
                  <li>Professional network</li>
                </ul>
                <div class="btn-block">
                  <a href="https://buy.stripe.com/bIY7uecLm32v6KQ5kB" target="_blank">
                    <button class="cta-filled">$50 / month </button>
                  </a>  
                  <a target="_blank" href="https://buy.stripe.com/4gw8yi26I9qTb168wP">
                    <button class="hero-price">$250 / year</button>
                  </a>

                </div>
              </div>
            </section>
            
          <!-- Testimonials -->
            {%- include testimonials.html -%}

            <!-- Course promo -->
            <section class="course-promo">
              <h2 class="centered gradient">Master your data skills with our Data Analytics and Engineering Course</h2>
              <div class="two-col">
                <div class="col-left">
                  <h4>Course Curriculum</h4>
                  <div class="drop-down left-aligned">
                    {%- include markdown-files/course-curriculum.md -%}
                  </div>  
                  <a target="_blank" href="https://youtu.be/bLmf98u0VuA?si=FJ5FqShC1vynwaHE">
                    <button class="cta-filled">Start the free course</button>
                  </a>    
                </div>
                <img class="course-img card-color" src="/assets/images/course-promo.png">
              </div>
            </section>

            {%- include swag-section.html -%}

            <!-- Services pricing -->
            <section id="services" class="services-pricing">
              <h2 class="centered gradient">Mentoring and Coaching Services Pricing</h2>
              <div class="cards-block">
                <div class="card-color card-interactive service-card">
                  <div class="card-header">                  
                    <p>Hourly mentorship</p>
                    <h2>$200</h2>
                  </div>
                  <div class="card-description">
                    <p>1 hour session, that you can use to:</p>
                    <ul>
                      <li>Talk over your case and ask relevant questions</li>
                      <li>Get a strategy to scale total compensation </li>
                      <li>Ask questions about immigration to North America and many more</li>
                    </ul>
                    <p>If you don’t know where to start, this session is right for you.</p>  
                  </div>
                  <a href="https://buy.stripe.com/eVa8yieTufPh0msaER">
                    <button class="cta-filled">Select Service</button>
                  </a>
                </div>
                <div class="card-color card-interactive service-card">
                  <div class="card-header">                  
                    <p>Adjusting Career Trajectory</p>
                    <h2>$500</h2>
                    <p>most popular</p>
                  </div>
                  <div class="card-description">
                    <p>Learn from the experienced engineer who was there and can help you to choose the optimal career path depending on your needs - total compensation, company tier, work/life balance, career growth. </p>
                    <p>This package includes two 1-hour sessions and a tailored learning plan to achieve result.</p>
                    <ul>
                      <li>Assessment of your current situation and goal setting</li>
                      <li>Learning path to succeed</li>
                    </ul>  
                  </div>
                  <a href="https://buy.stripe.com/6oEbKu7r232v4CI14f">
                    <button class="cta-filled">Select Service</button>
                  </a>
                </div>
                <div class="card-color card-interactive service-card">
                  <div class="card-header">                  
                    <p>End-to-end Coaching</p>
                    <h2>$999</h2>
                    <p>+30% of your first net salary</p>
                  </div>
                  <div class="card-description">
                    <p>From your current circumstances towards the offer. Even if you don’t have prior experience, it doesn’t matter. All we need is consistency, motivation, and hard work.</p>
                    <p>This package includes the 5 consultations, your assessment, tailored study plan and Surfalytics community membership.</p>  
                  </div>
                  <a href="https://buy.stripe.com/eVadSCbHi46z7OUfZc">
                    <button class="cta-filled">Select Service</button>
                  </a>
                </div>
              </div>
            </section>
              
            <!-- About the founder -->
            <section class="founder-card">
              <div class="two-col card-color">
                <img class="founder-photo" src="./assets/images/founder.png" alt="founder Dmitry Anoshin photo" />
                <div class="founder-text-block">
                  <h5>Meet the founder</h5>
                  <h2 class="gradient">Dmitry Anoshin</h2>
                  <ul class="founder-ul">
                    <li>14 years in data analytics, 8 years in MAANG (Amazon, Microsoft)</li>
                    <li>Founder of Rock Your Data - data analytics consulting company</li>
                    <li>Author of numerous books on Data Analytics</li>
                    <li>Teaching Cloud Computing Fundamentals at the University of Victoria since 2021</li>
                  </ul>
                  <ul class="logos">
                    <li><img src="assets/images/microsoft-azure.svg" /></li>
                    <li><img src="assets/images/amazon.svg" /></li>
                    <li><img src="assets/images/shield-horz-white-1.svg" /></li>
                  </ul>
                </div>
              </div>
            </section>

            <section class="photo">
              <img src="/assets/images/community.png" />
            </section>

            <!-- FAQ -->
            <section id="faq" class="faq">
              <h2 class="centered gradient">Frequently Asked Questions</h2>
              {%- include markdown-files/faq.md -%}

            </section>
          
            {%- include instagram-feed.html -%}

        </main>

        <script>

          var gitbook = gitbook || [];
          gitbook.push(function() {
              gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
          });

        </script>

        <!-- JavaScript -->
        <script>

          // Menu modal
          function toggleMenu() {
              var menuModal = document.getElementById('menuModal');
              menuModal.style.display = (menuModal.style.display === 'none' || menuModal.style.display === '') ? 'flex' : 'none';
              var nav = document.getElementById('nav')
              nav.style.display = (menuModal.style.display === 'none' || menuModal.style.display === '') ? 'flex' : 'none';
          }

          // SCROLLING NAVIGATION
            document.addEventListener('DOMContentLoaded', function() {
            var scrollingEl = document.querySelector('.scrolling-el');

            // Function to handle scroll event
            function handleScroll() {
              // Change the padding based on the scroll position
              var scrollPosition = window.scrollY;
              scrollingEl.style.paddingTop = (scrollPosition >= 55) ? '20px' : (90 - scrollPosition / 2) + 'px';
            }
            window.addEventListener('scroll', handleScroll);
          });


          //DROPDOWN POPOVER
          document.addEventListener("DOMContentLoaded", function() {
          const popover = document.querySelector('.dropdown');
          const popoverToggle = popover.querySelector('.popover-toggle');
          const popoverContent = popover.querySelector('.popover-content');

          let timeout;

          popover.addEventListener('mouseenter', function() {
            clearTimeout(timeout);
            popoverContent.style.display = 'block';
            popoverToggle.setAttribute('aria-expanded', 'true');
            popoverContent.setAttribute('aria-hidden', 'false');
          });

          popover.addEventListener('mouseleave', function() {
            timeout = setTimeout(function() {
              popoverContent.style.display = 'none';
              popoverToggle.setAttribute('aria-expanded', 'false');
              popoverContent.setAttribute('aria-hidden', 'true');
            }, 200); // Adjust the delay as needed
          });

          popoverContent.addEventListener('mouseenter', function() {
            clearTimeout(timeout);
          });

          popoverContent.addEventListener('mouseleave', function() {
            timeout = setTimeout(function() {
              popoverContent.style.display = 'none';
              popoverToggle.setAttribute('aria-expanded', 'false');
              popoverContent.setAttribute('aria-hidden', 'true');
            }, 200); // Adjust the delay as needed
          });
        });





          //HERO ANIMATION
         const professions = ["Data Engineer", "BI Developer", "Analytics Engineer", "Data Analyst"];
          let currentIndex = 0;
          let changeCount = 0;
          const maxChanges = 5;

          function changeProfession() {
            const changingProfession = document.getElementById("changingProfession");
            
            // Fade out the current profession
            changingProfession.classList.add("fade-out");
            
            // Set a timeout to change the text and fade in the new profession
            setTimeout(() => {
              changingProfession.textContent = professions[currentIndex];
              changingProfession.classList.remove("fade-out");
              changingProfession.classList.add("fade-in");
              
              // Increment the index, reset to 0 if it reaches the end of the array
              currentIndex = (currentIndex + 1) % professions.length;
              changeCount++;

              if (changeCount >= maxChanges) {
                  clearInterval(intervalId);
                }
            }, 800); // This timeout should match the duration of the fade-out transition
            
            // After the fade-in animation completes, remove the fade-in class
            setTimeout(() => {
              changingProfession.classList.remove("fade-in");
            }, 800); // This timeout should match the duration of the fade-in transition
          }

          const intervalId = setInterval(changeProfession, 1200);

        </script>

        

      {%- include footer.html -%}

      <!-- Footer -->

      <footer>              
        
        <!-- Subscribe -->
        <div class="container two-col">
          <div class="subscribe">
            <h4 class="orange-txt">Build a life you don't need a vacation from.</h4>
  
              <!-- Embedded Substack API -->
              <div id="custom-substack-embed"></div>
              <script>
                window.CustomSubstackWidget = {
                  substackUrl: "blog.surfalytics.com",
                  placeholder: "example@gmail.com",
                  buttonText: "Subscribe",
                  theme: "purple",
                };
              </script>
              <script src="https://substackapi.com/widget.js" async></script>
            </div>
  
  
          <!-- Socials -->
          <div>
            <ul class="socials">
              <li>
                <!-- Instagram -->
                <a href="https://www.instagram.com/surfalytics/">
                  <iconify-icon icon="fa:instagram" style="color: #2B3673; font-size: 35px;"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Telegram -->
                <a href="https://t.me/surfalytics">
                  <iconify-icon icon="icon-park-outline:telegram" style="color: #2B3673; font-size: 35px;"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Linkedin -->
                <a href="https://www.linkedin.com/company/surfalytics/">
                  <iconify-icon icon="ri:linkedin-fill" style="color: #2B3673;" width="35"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Tiktok -->
                <a href="https://www.tiktok.com/@surfalytics">
                  <iconify-icon icon="ic:baseline-tiktok" style="color: #2B3673; font-size: 35px;"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Github -->
                <a href="https://github.com/surfalytics/surfalytics">
                  <iconify-icon icon="mdi:github" style="color: #2B3673; font-size: 35px;"></iconify-icon>
                </a>
              </li>
            </ul>
            <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>    
          </div>
  
        </div>
         <!-- Copyright info -->
        <p>Copyright 2024 by Dmitry Anoshin. Designed and developed by <a target=’_blank’ href="https://www.lalajafarova.com/">Lala Jafarova</a>.</p>
      </footer>
    </body>
</html>