<!DOCTYPE HTML>
<html lang="en" >
    <head>

      <!-- data from head.html -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="{{site.description}}">

      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/custom.css">

      <meta name="HandheldFriendly" content="true"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/assets/gitbook/images/apple-touch-icon-precomposed-152.png">
      <link rel="shortcut icon" href="{{site.baseurl}}/{{site.favicon_path}}" type="image/x-icon">
      <!-- End data from head.html -->

      <!-- CSS -->
      <link rel="stylesheet" href="/assets/gitbook/landing-page.css">
      <!-- <link rel="stylesheet" href="/assets/gitbook/homepage.css"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
      <link rel="stylesheet" href="path-to-iconify-font.css">

      <!-- Google fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    
     <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FT018TBY84"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            window.dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-FT018TBY84');
    </script>
    <!-- End Google Analytics -->
    </head>

    <body>

      {%- include header.html -%}

      <main>
            <!-- Hero -->
            <section class="hero">
                <div class="hero-wrap">
                  <h1 class="gradient">Testimonials</h1>
                  <div>
                    <p class="p2">
                        At Surfalytics, our primary mission is to improve your life. We are not interested in simply giving plain advice and links for training. We genuinely want you to achieve your goal. We understand that your family is behind you, and you work hard to provide the best for your loved ones.
                      </p>
                      <p class="p2">
                        In whatever interactions we have, we will do everything possible to achieve tangible results because your success equals my success.
                      </p>
                      <p class="p2">
                        Here are some stories of Surfalytics mentees who achieved great results.
                      </p>    
                  </div>
                </div>
              </div>            
            </section>
            
        <!-- Testimonials cards -->

        <section class="testimonials">
            <div class="potential-wrap">
                <div id="testimonial-full-1" class="potential-card card-color">
                    {%- include markdown-files/testimonials/testimonial-full-1.md -%}        
                </div>
                <div id="testimonial-full-2" class="potential-card card-color">
                    {%- include markdown-files/testimonials/testimonial-full-2.md -%}        
                </div>
                <div id="testimonial-full-3" class="potential-card card-color">
                    {%- include markdown-files/testimonials/testimonial-full-3.md -%}        
                </div>
                <!-- <div id="testimonial-full-4" class="potential-card card-color">
                    {%- include markdown-files/testimonials/testimonial-full-4.md -%}        
                </div>
                <div id="testimonial-full-5" class="potential-card card-color">
                    {%- include markdown-files/testimonials/testimonial-full-5.md -%}        
                </div>
                <div id="testimonial-full-6" class="potential-card card-color">
                    {%- include markdown-files/testimonials/testimonial-full-6.md -%}        
                </div> -->
            </div>

        </section>


        <!-- WHAT YOU WILL GAIN IN 3 MONTHS -->
            <section id="membership">
              <div class="pricing-wrap card-color">
                <div class="perks-wrap">
                  <h3 class="gradient">What you will gain in just 3 months</h3>
                  <div class="perks-card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                      <path d="M8.33301 24.6666C8.33301 24.6666 10.833 24.6666 14.1663 30.5C14.1663 30.5 23.4313 15.2216 31.6663 12.1666" stroke="#2B3673" stroke-width="3.125" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h5>Strong and compelling resume tailored for data job market</h5>
                  </div>
                  <div class="perks-card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                      <path d="M8.33301 24.6666C8.33301 24.6666 10.833 24.6666 14.1663 30.5C14.1663 30.5 23.4313 15.2216 31.6663 12.1666" stroke="#2B3673" stroke-width="3.125" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h5>Competitive edge in the data job market through strong portfolio of projects</h5>
                  </div>
                  <div class="perks-card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                      <path d="M8.33301 24.6666C8.33301 24.6666 10.833 24.6666 14.1663 30.5C14.1663 30.5 23.4313 15.2216 31.6663 12.1666" stroke="#2B3673" stroke-width="3.125" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h5>Insights into employer expectations, readiness to ace interview questions</h5>
                  </div>
                </div>
                <div class="pricing-card">
                  <div class="pricing-content">
                    <p class="p2">Early Bird Membership Pricing</p>
                    <h3 class="crossed-price">$100 / month</h3>
                    <h3 class="gradient">7 days free trial</h3>
                     <p class="p2">then $50 / month or $250 / year</p>
                  </div>
                  <div class="btn-block">
                    <a href="https://buy.stripe.com/bIY7uecLm32v6KQ5kB" target="_blank">
                      <button class="cta-filled">Monthly payment</button>
                    </a>  
                    <a target="_blank" href="https://buy.stripe.com/4gw8yi26I9qTb168wP">
                      <button class="cta-filled secondary">Yearly payment (59% off)</button>
                    </a>
  
                  </div>
                </div>
              </div>

            </section>


            <!-- FAQ -->
            <section id="faq" class="faq">
              <h2 class="centered gradient">Frequently Asked Questions</h2>
              {%- include markdown-files/faq.md -%}

            </section>
          


        </main>

        <script>

          var gitbook = gitbook || [];
          gitbook.push(function() {
              gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
          });

        </script>

        <!-- JavaScript -->
        <script>

          // Menu modal
          function toggleMenu() {
              var menuModal = document.getElementById('menuModal');
              menuModal.style.display = (menuModal.style.display === 'none' || menuModal.style.display === '') ? 'flex' : 'none';
              var nav = document.getElementById('nav')
              nav.style.display = (menuModal.style.display === 'none' || menuModal.style.display === '') ? 'flex' : 'none';
          }

          // SCROLLING NAVIGATION
            document.addEventListener('DOMContentLoaded', function() {
            var scrollingEl = document.querySelector('.scrolling-el');

            // Function to handle scroll event
            function handleScroll() {
              // Change the padding based on the scroll position
              var scrollPosition = window.scrollY;
              scrollingEl.style.paddingTop = (scrollPosition >= 55) ? '20px' : (90 - scrollPosition / 2) + 'px';
            }
            window.addEventListener('scroll', handleScroll);
          });


          //DROPDOWN POPOVER
          document.addEventListener("DOMContentLoaded", function() {
          const popover = document.querySelector('.dropdown');
          const popoverToggle = popover.querySelector('.popover-toggle');
          const popoverContent = popover.querySelector('.popover-content');

          let timeout;

          popover.addEventListener('mouseenter', function() {
            clearTimeout(timeout);
            popoverContent.style.display = 'block';
            popoverToggle.setAttribute('aria-expanded', 'true');
            popoverContent.setAttribute('aria-hidden', 'false');
          });

          popover.addEventListener('mouseleave', function() {
            timeout = setTimeout(function() {
              popoverContent.style.display = 'none';
              popoverToggle.setAttribute('aria-expanded', 'false');
              popoverContent.setAttribute('aria-hidden', 'true');
            }, 200); // Adjust the delay as needed
          });

          popoverContent.addEventListener('mouseenter', function() {
            clearTimeout(timeout);
          });

          popoverContent.addEventListener('mouseleave', function() {
            timeout = setTimeout(function() {
              popoverContent.style.display = 'none';
              popoverToggle.setAttribute('aria-expanded', 'false');
              popoverContent.setAttribute('aria-hidden', 'true');
            }, 200); // Adjust the delay as needed
          });
        });


        </script>


      {%- include footer.html -%}

      <!-- Footer -->

      <footer>              
        
        <!-- Subscribe -->
        <div class="container two-col">
          <div class="subscribe">
            <h4 class="orange-txt">Build a life you don't need a vacation from.</h4>
  
              <!-- Embedded Substack API -->
              <div id="custom-substack-embed"></div>
              <script>
                window.CustomSubstackWidget = {
                  substackUrl: "blog.surfalytics.com",
                  placeholder: "example@gmail.com",
                  buttonText: "Subscribe",
                  theme: "purple",
                };
              </script>
              <script src="https://substackapi.com/widget.js" async></script>
            </div>
  
  
          <!-- Socials -->
          <div>
            <ul class="socials">
              <li>
                <!-- Instagram -->
                <a href="https://www.instagram.com/surfalytics/">
                  <iconify-icon icon="fa:instagram" style="color: #2B3673; font-size: 35px;"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Telegram -->
                <a href="https://t.me/surfalytics">
                  <iconify-icon icon="icon-park-outline:telegram" style="color: #2B3673; font-size: 35px;"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Linkedin -->
                <a href="https://www.linkedin.com/company/surfalytics/">
                  <iconify-icon icon="ri:linkedin-fill" style="color: #2B3673;" width="35"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Tiktok -->
                <a href="https://www.tiktok.com/@surfalytics">
                  <iconify-icon icon="ic:baseline-tiktok" style="color: #2B3673; font-size: 35px;"></iconify-icon>
                </a>
              </li>
              <li>
                <!-- Github -->
                <a href="https://github.com/surfalytics/surfalytics">
                  <iconify-icon icon="mdi:github" style="color: #2B3673; font-size: 35px;"></iconify-icon>
                </a>
              </li>
            </ul>
            <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>    
          </div>
  
        </div>
         <!-- Copyright info -->
        <p class="p2" style="font-size: 14px;">Copyright 2024 by Dmitry Anoshin. Designed and developed by <a target=’_blank’ href="https://www.lalajafarova.com/">Lala Jafarova</a>.</p>
      </footer>
    </body>
</html>